<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>


    <form [formGroup]="messageForms" (ngSubmit)="onSubmit()">
      <h5 *ngIf="success">Your form is valid!</h5>

      <label>
        Name:
        <input type="text" formControlName="name" />
        <div *ngIf="submitted && messageForms.controls.name.errors" class="error">
          <div *ngIf="messageForms.controls.name.errors.required">
            Name is required
          </div>
        </div>
      </label>

      <br />
      <label>
        Message:
        <textarea formControlName="message"></textarea>
        <div *ngIf="submitted && messageForms.controls.message.errors" class="error">
          <div *ngIf="messageForms.controls.message.errors.required">
            message is required
          </div>
        </div>
      </label>
      <br />
      <input type="submit" value="send Message" class="cta" />
    </form>

    <strong> Name: </strong>
    <span>{{messageForms.controls.name.value}}</span><br />

    <strong> Message: </strong>
    <span>{{messageForms.controls.message.value}}</span>
  </div>
</div>
